/*
  FONTE UTILIZADA NO SITE
*/
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@500&display=swap');
@media screen and (max-width:600px){
  header{
    width: 100%;
  }
}

  body {
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    font-family: pass;
    background-repeat: no-repeat;
    font-family: 'Geologica', sans-serif;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
    padding: 0px 20px;
    font-size: medium;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-family: 'Geologica', sans-serif;
  }
  
  section {
    padding: 20px;
    font-family: 'Geologica', sans-serif; 
  }

  footer {
    color: #333;
    padding: 10px 10px;
    width: 100%;
    height: 100%;
    position: fixed;
    font-family: 'Geologica', sans-serif; 
    background-image: url(img/rfk.png);
    background-repeat: no-repeat;
    background-position: left;  
  }
  h2{
    padding: 0px 20px;
  }
  
 p.a{
  padding: 0px 10px ;
  text-decoration: none;
  font-size: large;
 }

 .p1{
  font-size: x-large;
  padding: 0px 20px;
 }

 .cor1{
  color: #fa0000;
 }

 .colorlink{
  color: #000000;
 }

 a{
  text-decoration: none;
 }