/*
fonte para so titulo
*/
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@1,700&display=swap');
/* 
Fonte da tag p do footer
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@1&display=swap');
body {
  font-family: 'Noto Sans Mono', monospace;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    font-family: 'Noto Sans Mono', monospace;
    background-repeat: no-repeat;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  section {
    padding: 20px;
  }
  footer {
    background-color: #333;
    color: #ffffff;
    padding: 10px 10px;
    width: 100%;
    height: 100%;
    position: fixed;
    font-family: 'Noto Sans Mono', monospace;
  }
  .rfk{
    width: 200px;
    border-radius: 50%;
    float: right;
    left: 100%;
    position: static;
  }
  h1, h2{
    padding: 0px 10px;
    font-family: 'Mulish', sans-serif;
  }
 p{
  text-decoration: none;
  font-family: 'Roboto Mono', monospace;
  }
 p.a{
  padding: 0px 10px ;
  text-decoration: none;
  font-family: 'Roboto Mono', monospace;
 }
 .p2{
  color: red;
  font-family: 'Roboto Mono', monospace;
  font-size:  x-large;
 }
 .p1{
  font-size: x-large;
  font-family: "Roboto Mono", monospace;
 }
 a{
  text-decoration: none;
 }