@import url(https://fonts.googleapis.com/css2?family=Popins:wght@200;400;600&display=swap);
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    font-family: "Poopins", sans-serif;
    background-repeat: no-repeat;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  section {
    padding: 20px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    width: 100%;
    height: 100%;
    position: fixed;
  }
  .rfk{
    width: 200px;
    border-radius: 50%;
    float: right;
    position: relative;
  }
