@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@600&display=swap');
body {
  font-family: 'Noto Sans Mono', monospace;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    font-family: 'Noto Sans Mono', monospace;
    background-repeat: no-repeat;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  section {
    padding: 20px;
  }
  footer {
    background-color: #333;
    color: #ffffff;
    padding: 10px 10px;
    width: 100%;
    height: 100%;
    position: fixed;
    font-family: 'Noto Sans Mono', monospace;
  }
  .rfk{
    width: 200px;
    border-radius: 50%;
    float: right;
    left: 100%;
    position: static;
  }
  h2{
    padding: 0px 10px;
    font-family: 'Noto Sans Mono', monospace;
  }
 p{
  text-decoration: none;
 }
 p.a{
  padding: 0px 10px ;
  font-family: 'Noto Sans Mono', monospace;
  text-decoration: none;
 }
 a{
  text-decoration: none;
 }