  /*  FONTE UTILIZADA NO SITE */
  @import url('https://fonts.googleapis.com/css2?family=Geologica&display=swap');
  
  /* ESSE CAMPO DEIXA A PÁGINA RESPONSIVA, OU SEJA O USUÁRIO CONSEGUE ABRIR EM OUTRO DISPOSITVOS COMO SMARTPHONES */
  @media screen and (max-width:600px){
    header{
      width: 100%;
    }
    /* Tira a imagem da tela em dispositivos menores, tornando ainda mais responsivo a página */
    #img{
      display: none;
    }
    /* Tira a hora da tela em dispositivos menores, tornando ainda mais responsivo a página */
    #hora_data{
      display: none;
    }
  }

  * {
    font-family: 'Geologica', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* ESTILO DO HEADER */
  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    background-repeat: no-repeat;
  }
  
  /* ESTILO DOS LINK DENTRO DO HEADER */
  #nav{
    padding: 0px 20px;
  }
  
  /* ESTILO DA NAV UL 
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  */

  /* ESTILO DA NAV UL LI */
  nav ul li {
    display: inline;
  /* padding: 0px 10% */
  }
  
  /* ESTILO DA NAV UL LI A */
  nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0px 20px;
  }

  /* ESTILO DA SECTION */
  section {
    padding: 20px;
  }
  
  /* ESTILO DO FOOTER */
  footer{
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
    border-top: 2px solid #333;
    background-color: #333;
  }

  /* ESTILO DO H1 E H2*/
  h1{
    padding: 20px 20px;
  }

  h2{
    padding: 10px 10px;
  }

  /* ESTILO DO LINK DA TAG P QUE ESTÁ DENTRO DA SECTION */
  p.a{
    padding: 20px 10px ;
    text-decoration: none;

  }
  
  /* ESTILO DA TAG P DO FOOTER */
  .p1{
    font-size: 20px;
    padding: 0px 30px;
    color: #fff;
  }
   
  /* COR DO SPAN DO FOOTER */
  #foot{
    color: #fff;
  }

  /* COR DOS LINKS QUE O USUÁRIO ACESSA PARA FAZER OS AGENDAMENTOS */
  .colorlink{
    color: #000000;
  }

  /* TIRA A DECORAÇÃO DOS LINKS */
  a{
    text-decoration: none;
  }

  /* Estilo do Relógio */
  .relogio{
    display: flex;
    padding: 0px 25px; 
    height: 100px;
    width: 450px; 
  }

  .relogio div{
    height: 70px;
    width: 40px;
    display: flex;
    letter-spacing: 1px;
    
  }
  
  .relogio span{
    font-weight: bolder;
    font-size: 20px;
  }
  
  /* ESTILO DA DATA */
  .data_atual{
    font-weight: bolder;
  }